div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated {
    transform: perspective(10px) translateZ(-9px);
}
.scaled {                      /*Zoom in*/
        margin-left: 100px;
    transform: perspective(350px) scaleZ(3) rotatex(45deg) rotateY(30deg);
}
.static {
    transform: rotateZ(10deg);
}