body {
    background-color: #F0F8FF;
    background-image: url(Images/formbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    background-attachment: fixed;
}
input[type=text],
input[type=password] {
    display: block;
    width: 40%;
    padding: 0px 5px;
    margin: 5px 0 22px 0;
    background-color:rgb(206, 235, 235);
    
}
#gender {
    margin: 0px 0px 15px;
}
#remeber{
    display: block;
}
button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 14px 20px;
    width: 40%;
    margin: 5px 0 22px;
    cursor: pointer;
}
