body {
   /* background-color:lightblue; */
   background-image: url(images/backpaper.jpg);
   background-image:url(Images/img23.jpg); /*The Background Image will get repeated*/
   background-repeat: no-repeat; /*This will prevent the image from repeating*/
   background-position: right top;/*By this you can specify the position of the background Image*/
   background-attachment: fixed; /*Background Image will not scroll with the rest of the page*/
   background-attachment:scroll;/*By this the image will scroll*/
   
}
h2 {
   background-color:green;
}
div {
   background-color:red;
}
.para {
   background-color:yellow;
}
.first {
      background-color:green;
      opacity: 0.1;
}
.second {
   background-color:green;
   opacity: 0.3;
}
.third {
   background-color:green;
   opacity: 0.6;
}
.fourth {
   background-color:green;
   opacity: 1;
}
.bimage {
      background-image: url(Images/elementbackground.jpg);
      color:rgb(4, 0, 244);
}