h1 {
    text-align: center;
}
/* p {
    text-align: center;
    color: red;
} */
/* #para2 {
    text-align: center;
    color: blue;
} */
.center {
    text-align: center;
    color:brown;
}
p.color {
    color: blue;
}
p.large {
    font-size: larger;
}