.child {
    width: 100px;
    height: 100px;
    background-color: yellow;
    top: 100px;
    left: 100px;
}
.parent {
    width: 900px;
    height: 500px;
    background-color: red;
}
.child2 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    top: 100px;
}
.grand-parent {
    width: 800px;
    height: 600px;
    background-color: yellow;
    margin: 100px;
    padding: 90px;
    position: relative;
}
.parent2 {
    width: 300px;
    height: 500px;
    background-color: aqua;
    /* position: relative; */
}
.child3 {
    height: 100px;
    width: 100px;
    background-color: red;
    position:sticky;
    top: 100px;
    left: 80px;
}