/*Horizontal vertical blurr color*/
h1 {
    text-shadow: 3px 3px 3px red;
}
/*Multiple Shadows*/
.multiple {
    text-shadow:3px 3px 3px red,10px 5px 5px green;
}
/*BOX SHADOW*/
.box1 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-color: aqua;
    box-shadow: 10px 10px 15px rgba(255, 0, 64, 0.918);
    margin-bottom: 10px;
}
/*Multiple shadows*/
.box2 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-color: aqua;
    margin-bottom: 50px;
    box-shadow: 10px 10px 15px rgba(0, 255, 136, 0.918),15px 15px 15px rgb(255, 0, 0);
}
/*Buy Using -ve Value we can change the direction of the shadow*/
.box3 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-color: aqua;
    box-shadow: -10px -10px 15px yellow,-15px -15px 15px orangered;
}
.box4 {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 40px;
    /*IN this we have x-ofset and y-ofset
    */
      
    /* box-shadow: 10px 15px brown;
     */

    /*Box shadow using blur effect
    */

    /* box-shadow: 10px 15px 10px brown; 
    */

    /*SPREAD RADIUS
    */
    /* box-shadow: 10px 15px 10px 10px brown; 
    */
    /*INSIDE SHADOW
    */
    /* box-shadow: inset 10px 15px white ; 
    */
    /*MULTIPLE SHADOWS
    */
    box-shadow: 10px 15px 10px red,15px 18px 10px green;
    

}
