.box{
    width: 200px;
    background-color: coral;
    margin-left:30px;
    margin-top: 30px;
    box-shadow:5px 5px 5px red; /*First we will put horizontal value then vertical and the blur effect*/
}
.box2 {
    width: 200px;
    margin-left: 40%;
    margin-top: 30px;
    background-color: darkcyan;
    box-shadow:5px 5px 5px 8px rgb(48, 68, 215);
}
.box3 {
    width: 200px;
    background-color: coral;
    box-shadow: 5px 5px 5px lightblue inset;
}
.card {
    width: 200px;
    margin-top: 20px;
    margin-left: 40%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.header {
    background-color: #55d355;
    color: white;
    padding: 10px;
    font-size: 40px;

}
.container {
    padding: 10px;
}
.polaroid {
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
img {
    width: 200px;
}
.container2 {
    padding: 10px;
}
